JWT_SECRET=be674940d90d3e480b07ec61bcf421d9ea810a1640c26a4c8fec0ef6cba886fa
DATABASE_URL=sqlite:///C:/path/to/Arkon New/data/arkon.db
ARKON_ARTIFACTS_DIR=
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

AZURE_OPENAI_API_KEY=F79rr24XOyTKAprSSVMiQuo8j99MQM9gzJD3oEIAmlfn4vrsj0TVJQQJ99CBACHYHv6XJ3w3AAABACOGX5Md
AZURE_OPENAI_ENDPOINT=https://cmg-ai-poc-eu2.openai.azure.com/
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-5-chat
AZURE_OPENAI_REASONING_DEPLOYMENT=gpt-5-chatAZURE_OPENAI_API_KEY=F79rr24XOyTKAprSSVMiQuo8j99MQM9gzJD3oEIAmlfn4vrsj0TVJQQJ99CBACHYHv6XJ3w3AAABACOGX5Md
